# 0.0. IMPORTS

In [1]:
import pandas   as pd
import numpy    as np
import psycopg2 as pg
import seaborn  as sns


import pandas.io.sql          as psql
from matplotlib import pyplot as plt

from IPython.core.display  import HTML

import warnings

## 0.1. Helper Functions

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
    
    
warnings.filterwarnings( 'ignore' )

In [3]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2. Loading Data

In [11]:
# Credentials
host =     'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port =      5432
database = 'comunidadedsdb'
username = 'member'
pwd =      'cdspa'



# Connecting to database
conn = pg.connect(  user=username,
                    password=pwd,
                    host=host,
                    port=port,
                    database=database )



cursor = conn.cursor()

In [12]:
# Query Schemas
query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""

cursor.execute( query_schema )

print(cursor.fetchall())

[('pg_toast',), ('pg_temp_1',), ('pg_toast_temp_1',), ('pg_catalog',), ('information_schema',), ('public',), ('pa004',), ('pg_temp_4',), ('pg_toast_temp_4',), ('pa005',), ('pg_temp_9',), ('pg_toast_temp_9',)]

In [13]:
# Query Tables
query_tables = """
SELECT * FROM pa004.users u LEFT JOIN pa004.vehicle v on (u.id = v.id)
                            LEFT JOIN pa004.insurance i on (u.id = i.id) 
"""

# Defining raw dataset
df_raw_table = pd.read_sql(query_tables, conn)


# Closing cursor and connction
cursor.close()
conn.close()

In [16]:
df_raw_table.head()

   id  gender  age  region_code  policy_sales_channel  id  driving_license vehicle_age vehicle_damage  id  previously_insured  annual_premium  vintage  response
0   7    Male   23         11.0                 152.0   7                1    < 1 Year            Yes   7                   0         23367.0      249         0
1  13  Female   41         15.0                  14.0  13                1    1-2 Year             No  13                   1         31409.0      221         0
2  18  Female   25         35.0                 152.0  18                1    < 1 Year             No  18                   1         46622.0      299         0
3  31  Female   26          8.0                 160.0  31                1    < 1 Year             No  31                   0          2630.0      136         0
4  39    Male   45          8.0                 124.0  39                1    1-2 Year            Yes  39                   0         42297.0      264         0